<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>code</key>
			<string>00355</string>
			<key>country</key>
			<string>阿尔巴尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00213</string>
			<key>country</key>
			<string>阿尔及利亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0093</string>
			<key>country</key>
			<string>阿富汗</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0054</string>
			<key>country</key>
			<string>阿根廷</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00353</string>
			<key>country</key>
			<string>爱尔兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0020</string>
			<key>country</key>
			<string>埃及</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00372</string>
			<key>country</key>
			<string>埃塞俄比亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00372</string>
			<key>country</key>
			<string>爱沙尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00971</string>
			<key>country</key>
			<string>阿拉伯联合酋长国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00297</string>
			<key>country</key>
			<string>阿鲁巴</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00968</string>
			<key>country</key>
			<string>阿曼</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00376</string>
			<key>country</key>
			<string>安道尔</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00244</string>
			<key>country</key>
			<string>安哥拉</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001264</string>
			<key>country</key>
			<string>安圭拉</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001268</string>
			<key>country</key>
			<string>阿提瓜和巴布达</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0061</string>
			<key>country</key>
			<string>澳大利亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0043</string>
			<key>country</key>
			<string>奥地利</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00994</string>
			<key>country</key>
			<string>阿塞拜疆</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>code</key>
			<string>001246</string>
			<key>country</key>
			<string>巴巴多斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00675</string>
			<key>country</key>
			<string>巴布亚新几内亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001242</string>
			<key>country</key>
			<string>巴哈马</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00375</string>
			<key>country</key>
			<string>白俄罗斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001441</string>
			<key>country</key>
			<string>百慕大</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0092</string>
			<key>country</key>
			<string>巴基斯坦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00595</string>
			<key>country</key>
			<string>巴拉圭</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00973</string>
			<key>country</key>
			<string>巴林</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00507</string>
			<key>country</key>
			<string>巴拿马</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00359</string>
			<key>country</key>
			<string>保加利亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0055</string>
			<key>country</key>
			<string>巴西</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001670</string>
			<key>country</key>
			<string>北马里亚纳群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00229</string>
			<key>country</key>
			<string>贝宁</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0032</string>
			<key>country</key>
			<string>比利时</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00354</string>
			<key>country</key>
			<string>冰岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00267</string>
			<key>country</key>
			<string>博茨瓦纳</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001787</string>
			<key>country</key>
			<string>波多黎各</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0048</string>
			<key>country</key>
			<string>波兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00591</string>
			<key>country</key>
			<string>玻利维亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00501</string>
			<key>country</key>
			<string>伯利兹</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00387</string>
			<key>country</key>
			<string>波斯尼亚和黑塞哥维那</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00975</string>
			<key>country</key>
			<string>不丹</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00226</string>
			<key>country</key>
			<string>布基纳法索</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00257</string>
			<key>country</key>
			<string>布隆迪</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>code</key>
			<string>00850</string>
			<key>country</key>
			<string>朝鲜</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00240</string>
			<key>country</key>
			<string>赤道几内亚</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>code</key>
			<string>0045</string>
			<key>country</key>
			<string>丹麦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0049</string>
			<key>country</key>
			<string>德国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00670</string>
			<key>country</key>
			<string>东帝汶</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00228</string>
			<key>country</key>
			<string>多哥</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001809</string>
			<key>country</key>
			<string>多尼米加共和国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001767</string>
			<key>country</key>
			<string>多米尼克</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>code</key>
			<string>00593</string>
			<key>country</key>
			<string>厄瓜多尔</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00291</string>
			<key>country</key>
			<string>厄立特里亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>007</string>
			<key>country</key>
			<string>俄罗斯</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>code</key>
			<string>0033</string>
			<key>country</key>
			<string>法国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00298</string>
			<key>country</key>
			<string>法罗群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00379</string>
			<key>country</key>
			<string>梵蒂冈</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00689</string>
			<key>country</key>
			<string>法属波利尼西亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001599</string>
			<key>country</key>
			<string>法属圣马丁</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00679</string>
			<key>country</key>
			<string>斐济</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0063</string>
			<key>country</key>
			<string>菲律宾</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00358</string>
			<key>country</key>
			<string>芬兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00238</string>
			<key>country</key>
			<string>佛得角</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00500</string>
			<key>country</key>
			<string>福克兰群岛</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>code</key>
			<string>00220</string>
			<key>country</key>
			<string>冈比亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00242</string>
			<key>country</key>
			<string>刚果（布）</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00243</string>
			<key>country</key>
			<string>刚果（金）</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00299</string>
			<key>country</key>
			<string>格陵兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001473</string>
			<key>country</key>
			<string>格林纳达</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00995</string>
			<key>country</key>
			<string>格鲁吉亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0057</string>
			<key>country</key>
			<string>哥伦比亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00506</string>
			<key>country</key>
			<string>哥斯达黎加</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001671</string>
			<key>country</key>
			<string>关岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0053</string>
			<key>country</key>
			<string>古巴</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00592</string>
			<key>country</key>
			<string>圭亚那</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>code</key>
			<string>00509</string>
			<key>country</key>
			<string>海地</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0082</string>
			<key>country</key>
			<string>韩国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>007</string>
			<key>country</key>
			<string>哈萨克斯坦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00382</string>
			<key>country</key>
			<string>黑山</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0031</string>
			<key>country</key>
			<string>荷兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00599</string>
			<key>country</key>
			<string>荷属安地列斯群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00504</string>
			<key>country</key>
			<string>洪都拉斯</string>
		</dict>
	</array>
	<key>I</key>
	<array/>
	<key>J</key>
	<array>
		<dict>
			<key>code</key>
			<string>00233</string>
			<key>country</key>
			<string>加纳</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001</string>
			<key>country</key>
			<string>加拿大</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00855</string>
			<key>country</key>
			<string>柬埔寨</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00241</string>
			<key>country</key>
			<string>加蓬</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00253</string>
			<key>country</key>
			<string>吉布提</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00420</string>
			<key>country</key>
			<string>捷克共和国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00996</string>
			<key>country</key>
			<string>吉尔吉斯斯坦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00686</string>
			<key>country</key>
			<string>基里巴斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00263</string>
			<key>country</key>
			<string>津巴布韦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00224</string>
			<key>country</key>
			<string>几内亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00245</string>
			<key>country</key>
			<string>几内亚比绍</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>code</key>
			<string>001345</string>
			<key>country</key>
			<string>开曼群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00237</string>
			<key>country</key>
			<string>喀麦隆</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00974</string>
			<key>country</key>
			<string>卡塔尔</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0061</string>
			<key>country</key>
			<string>科科斯（基林）群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00385</string>
			<key>country</key>
			<string>克罗地亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00269</string>
			<key>country</key>
			<string>科摩罗</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00254</string>
			<key>country</key>
			<string>肯尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00225</string>
			<key>country</key>
			<string>科特迪瓦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00965</string>
			<key>country</key>
			<string>科威特</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00682</string>
			<key>country</key>
			<string>库克群岛</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>code</key>
			<string>00266</string>
			<key>country</key>
			<string>莱索托</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00856</string>
			<key>country</key>
			<string>老挝</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00371</string>
			<key>country</key>
			<string>拉脱维亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00961</string>
			<key>country</key>
			<string>黎巴嫩</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00231</string>
			<key>country</key>
			<string>利比里亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00218</string>
			<key>country</key>
			<string>利比亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00423</string>
			<key>country</key>
			<string>列支敦士登</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00370</string>
			<key>country</key>
			<string>立陶宛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0040</string>
			<key>country</key>
			<string>罗马尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00352</string>
			<key>country</key>
			<string>卢森堡</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00250</string>
			<key>country</key>
			<string>卢旺达</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>code</key>
			<string>00261</string>
			<key>country</key>
			<string>马达加斯加</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00960</string>
			<key>country</key>
			<string>马尔代夫</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00356</string>
			<key>country</key>
			<string>马耳他</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0060</string>
			<key>country</key>
			<string>马来西亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00265</string>
			<key>country</key>
			<string>马拉维</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00223</string>
			<key>country</key>
			<string>马里</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0044</string>
			<key>country</key>
			<string>曼岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00230</string>
			<key>country</key>
			<string>毛里求斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00222</string>
			<key>country</key>
			<string>毛里塔尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00389</string>
			<key>country</key>
			<string>马其顿</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00692</string>
			<key>country</key>
			<string>马绍尔群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00262</string>
			<key>country</key>
			<string>马约特</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001</string>
			<key>country</key>
			<string>美国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001684</string>
			<key>country</key>
			<string>美属萨摩亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001340</string>
			<key>country</key>
			<string>美属维京群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00976</string>
			<key>country</key>
			<string>蒙古</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00880</string>
			<key>country</key>
			<string>孟加拉国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001664</string>
			<key>country</key>
			<string>蒙特塞拉特</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0095</string>
			<key>country</key>
			<string>缅甸</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00691</string>
			<key>country</key>
			<string>密克罗尼西亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0051</string>
			<key>country</key>
			<string>秘鲁</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00373</string>
			<key>country</key>
			<string>摩尔多瓦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00212</string>
			<key>country</key>
			<string>摩洛哥</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00377</string>
			<key>country</key>
			<string>摩纳哥</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00258</string>
			<key>country</key>
			<string>莫桑比克</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0052</string>
			<key>country</key>
			<string>墨西哥</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>code</key>
			<string>00264</string>
			<key>country</key>
			<string>纳米比亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0027</string>
			<key>country</key>
			<string>南非</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00672</string>
			<key>country</key>
			<string>南极洲</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00674</string>
			<key>country</key>
			<string>瑙鲁</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00977</string>
			<key>country</key>
			<string>尼泊尔</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00505</string>
			<key>country</key>
			<string>尼加拉瓜</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00227</string>
			<key>country</key>
			<string>尼日尔</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00234</string>
			<key>country</key>
			<string>尼日利亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00683</string>
			<key>country</key>
			<string>纽埃</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0047</string>
			<key>country</key>
			<string>挪威</string>
		</dict>
	</array>
	<key>O</key>
	<array/>
	<key>P</key>
	<array>
		<dict>
			<key>code</key>
			<string>00680</string>
			<key>country</key>
			<string>帕劳</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00870</string>
			<key>country</key>
			<string>皮特凯恩群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00351</string>
			<key>country</key>
			<string>葡萄牙</string>
		</dict>
	</array>
	<key>Q</key>
	<array/>
	<key>R</key>
	<array>
		<dict>
			<key>code</key>
			<string>0081</string>
			<key>country</key>
			<string>日本</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0046</string>
			<key>country</key>
			<string>瑞典</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0041</string>
			<key>country</key>
			<string>瑞士</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>code</key>
			<string>00503</string>
			<key>country</key>
			<string>萨尔瓦多</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00381</string>
			<key>country</key>
			<string>塞尔维亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00232</string>
			<key>country</key>
			<string>塞拉利昂</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00221</string>
			<key>country</key>
			<string>塞内加尔</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00357</string>
			<key>country</key>
			<string>塞浦路斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00248</string>
			<key>country</key>
			<string>塞舌尔</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00685</string>
			<key>country</key>
			<string>萨摩亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00966</string>
			<key>country</key>
			<string>沙特阿拉伯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00590</string>
			<key>country</key>
			<string>圣巴泰勒米</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0061</string>
			<key>country</key>
			<string>圣诞岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00239</string>
			<key>country</key>
			<string>圣多美和普林西比</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00290</string>
			<key>country</key>
			<string>圣赫勒拿</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001869</string>
			<key>country</key>
			<string>圣基茨和尼维斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001758</string>
			<key>country</key>
			<string>圣卢西亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00378</string>
			<key>country</key>
			<string>圣马力诺</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00508</string>
			<key>country</key>
			<string>圣皮埃尔和密克隆群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001784</string>
			<key>country</key>
			<string>圣文森特和格林纳丁斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0094</string>
			<key>country</key>
			<string>斯里兰卡</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00421</string>
			<key>country</key>
			<string>斯洛伐克</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00386</string>
			<key>country</key>
			<string>斯洛文尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00268</string>
			<key>country</key>
			<string>斯威士兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00249</string>
			<key>country</key>
			<string>苏丹</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00597</string>
			<key>country</key>
			<string>苏里南</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00677</string>
			<key>country</key>
			<string>所罗门群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00252</string>
			<key>country</key>
			<string>索马里</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>code</key>
			<string>0066</string>
			<key>country</key>
			<string>泰国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00886</string>
			<key>country</key>
			<string>台湾</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00992</string>
			<key>country</key>
			<string>塔吉克斯坦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00676</string>
			<key>country</key>
			<string>汤加</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00255</string>
			<key>country</key>
			<string>坦桑尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001649</string>
			<key>country</key>
			<string>特克斯和凯科斯群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001868</string>
			<key>country</key>
			<string>特立尼达和多巴哥</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0090</string>
			<key>country</key>
			<string>土耳其</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00993</string>
			<key>country</key>
			<string>土库曼斯坦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00216</string>
			<key>country</key>
			<string>突尼斯</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00690</string>
			<key>country</key>
			<string>托克劳</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00688</string>
			<key>country</key>
			<string>图瓦卢</string>
		</dict>
	</array>
	<key>U</key>
	<array/>
	<key>V</key>
	<array/>
	<key>W</key>
	<array>
		<dict>
			<key>code</key>
			<string>00681</string>
			<key>country</key>
			<string>瓦利斯和富图纳</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00678</string>
			<key>country</key>
			<string>瓦努阿图</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00502</string>
			<key>country</key>
			<string>危地马拉</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0058</string>
			<key>country</key>
			<string>委内瑞拉</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00673</string>
			<key>country</key>
			<string>文莱</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00256</string>
			<key>country</key>
			<string>乌干达</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00380</string>
			<key>country</key>
			<string>乌克兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00598</string>
			<key>country</key>
			<string>乌拉圭</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00998</string>
			<key>country</key>
			<string>乌兹别克斯坦</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>code</key>
			<string>0034</string>
			<key>country</key>
			<string>西班牙</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0030</string>
			<key>country</key>
			<string>希腊</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0065</string>
			<key>country</key>
			<string>新加坡</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00687</string>
			<key>country</key>
			<string>新喀里多尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0064</string>
			<key>country</key>
			<string>新西兰</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0036</string>
			<key>country</key>
			<string>匈牙利</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00963</string>
			<key>country</key>
			<string>叙利亚</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>code</key>
			<string>001876</string>
			<key>country</key>
			<string>牙买加</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00374</string>
			<key>country</key>
			<string>亚美尼亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00967</string>
			<key>country</key>
			<string>也门</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0039</string>
			<key>country</key>
			<string>意大利</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00964</string>
			<key>country</key>
			<string>伊拉克</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0098</string>
			<key>country</key>
			<string>伊朗</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0091</string>
			<key>country</key>
			<string>印度</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0062</string>
			<key>country</key>
			<string>印度尼西亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0044</string>
			<key>country</key>
			<string>英国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001284</string>
			<key>country</key>
			<string>英属维京群岛</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00972</string>
			<key>country</key>
			<string>以色列</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00962</string>
			<key>country</key>
			<string>约旦</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0084</string>
			<key>country</key>
			<string>越南</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>code</key>
			<string>00260</string>
			<key>country</key>
			<string>赞比亚</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00235</string>
			<key>country</key>
			<string>乍得</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00350</string>
			<key>country</key>
			<string>直布罗陀</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0056</string>
			<key>country</key>
			<string>智利</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00236</string>
			<key>country</key>
			<string>中非共和国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0086</string>
			<key>country</key>
			<string>中国</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00853</string>
			<key>country</key>
			<string>中国澳门特别行政区</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00852</string>
			<key>country</key>
			<string>中国香港特别行政区</string>
		</dict>
	</array>
</dict>
</plist>
