<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>code</key>
			<string>00355</string>
			<key>country</key>
			<string>Albania</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00213</string>
			<key>country</key>
			<string>Algeria</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0093</string>
			<key>country</key>
			<string>Afghanistan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0054</string>
			<key>country</key>
			<string>Argentina</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00297</string>
			<key>country</key>
			<string>Aruba</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00376</string>
			<key>country</key>
			<string>Andorra </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00244</string>
			<key>country</key>
			<string>Angola</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001264</string>
			<key>country</key>
			<string>Anguilla</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001268</string>
			<key>country</key>
			<string>Atigua and Barbuda</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0061</string>
			<key>country</key>
			<string>Australia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0043</string>
			<key>country</key>
			<string>Austria</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00994</string>
			<key>country</key>
			<string>Azerbaijan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001684</string>
			<key>country</key>
			<string>American Samoa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00672</string>
			<key>country</key>
			<string>Antarctica</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00374</string>
			<key>country</key>
			<string>Armenia</string>
		</dict>
	</array>
	<key>B</key>
	<array>
		<dict>
			<key>code</key>
			<string>001246</string>
			<key>country</key>
			<string>Barbados</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001242</string>
			<key>country</key>
			<string>Bahamas</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00375</string>
			<key>country</key>
			<string>Belarus</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001441</string>
			<key>country</key>
			<string>Bermuda</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00973</string>
			<key>country</key>
			<string>Bahrain</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00359</string>
			<key>country</key>
			<string>Bulgaria</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0055</string>
			<key>country</key>
			<string>Brazil</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00229</string>
			<key>country</key>
			<string>Benin</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0032</string>
			<key>country</key>
			<string>Belgium</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00267</string>
			<key>country</key>
			<string>Botswana</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00591</string>
			<key>country</key>
			<string>Bolivia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00501</string>
			<key>country</key>
			<string>Belize</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00387</string>
			<key>country</key>
			<string>Bosnia and Herzegovina</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00975</string>
			<key>country</key>
			<string>Bhutan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00226</string>
			<key>country</key>
			<string>Burkina Faso</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00257</string>
			<key>country</key>
			<string>Burundi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00880</string>
			<key>country</key>
			<string>Bangladesh</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00673</string>
			<key>country</key>
			<string>Brunei</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001284</string>
			<key>country</key>
			<string>British Virgin Islands</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>code</key>
			<string>001</string>
			<key>country</key>
			<string>Canada</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0053</string>
			<key>country</key>
			<string>Cuba</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00238</string>
			<key>country</key>
			<string>Cape Verde</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00242</string>
			<key>country</key>
			<string>Congo (cloth) </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00506</string>
			<key>country</key>
			<string>Costa Rica</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00243</string>
			<key>country</key>
			<string>Congo (Gold)</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0057</string>
			<key>country</key>
			<string>Colombia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00855</string>
			<key>country</key>
			<string>Cambodia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00420</string>
			<key>country</key>
			<string>Czech Republic</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001345</string>
			<key>country</key>
			<string>Cayman Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00237</string>
			<key>country</key>
			<string>Cameroon</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0061</string>
			<key>country</key>
			<string>Cocos (Keeling) Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00385</string>
			<key>country</key>
			<string>Croatia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00269</string>
			<key>country</key>
			<string>Comoros</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00225</string>
			<key>country</key>
			<string>Côte d'Ivoire</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00682</string>
			<key>country</key>
			<string>Cook Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00357</string>
			<key>country</key>
			<string>Cyprus</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0061</string>
			<key>country</key>
			<string>Christmas Island</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0056</string>
			<key>country</key>
			<string>Chile</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00236</string>
			<key>country</key>
			<string>Central African Republic </string>
		</dict>
		<dict>
			<key>code</key>
			<string>0086</string>
			<key>country</key>
			<string>China</string>
		</dict>
	</array>
	<key>D</key>
	<array>
		<dict>
			<key>code</key>
			<string>0045</string>
			<key>country</key>
			<string>Denmark</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001809</string>
			<key>country</key>
			<string>Dominican Republic</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001767</string>
			<key>country</key>
			<string>Dominic</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00253</string>
			<key>country</key>
			<string>Djibouti</string>
		</dict>
	</array>
	<key>E</key>
	<array>
		<dict>
			<key>code</key>
			<string>0020</string>
			<key>country</key>
			<string>Egypt</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00372</string>
			<key>country</key>
			<string>Ethiopia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00372</string>
			<key>country</key>
			<string>Estonia </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00240</string>
			<key>country</key>
			<string>Equatorial Guinea</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00670</string>
			<key>country</key>
			<string>East Timor</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00593</string>
			<key>country</key>
			<string>Ecuador</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00291</string>
			<key>country</key>
			<string>Eritrea</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00503</string>
			<key>country</key>
			<string>El Salvador </string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>code</key>
			<string>0033</string>
			<key>country</key>
			<string>France</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00298</string>
			<key>country</key>
			<string>Faroe Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00689</string>
			<key>country</key>
			<string>French Polynesia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001599</string>
			<key>country</key>
			<string>French Saint Martin </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00679</string>
			<key>country</key>
			<string>Fiji </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00358</string>
			<key>country</key>
			<string>Finland</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00500</string>
			<key>country</key>
			<string>Falkland Islands</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>code</key>
			<string>0049</string>
			<key>country</key>
			<string>Germany</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00220</string>
			<key>country</key>
			<string>Gambia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00299</string>
			<key>country</key>
			<string>Greenland</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001473</string>
			<key>country</key>
			<string>Grenada</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00995</string>
			<key>country</key>
			<string>Georgia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001671</string>
			<key>country</key>
			<string>Guam </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00592</string>
			<key>country</key>
			<string>Guyana </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00233</string>
			<key>country</key>
			<string>Ghana</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00241</string>
			<key>country</key>
			<string>Gabon</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00224</string>
			<key>country</key>
			<string>Guinea</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00245</string>
			<key>country</key>
			<string>Guinea Bissau</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00502</string>
			<key>country</key>
			<string>Guatemala</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0030</string>
			<key>country</key>
			<string>Greece</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00350</string>
			<key>country</key>
			<string>Gibraltar</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>code</key>
			<string>00509</string>
			<key>country</key>
			<string>Haiti </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00504</string>
			<key>country</key>
			<string>Honduras</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0036</string>
			<key>country</key>
			<string>Hungary</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00852</string>
			<key>country</key>
			<string>Hong Kong</string>
		</dict>
	</array>
	<key>I</key>
	<array>
		<dict>
			<key>code</key>
			<string>00353</string>
			<key>country</key>
			<string>Ireland</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00354</string>
			<key>country</key>
			<string>Iceland</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0039</string>
			<key>country</key>
			<string>Italy</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00964</string>
			<key>country</key>
			<string>Iraq </string>
		</dict>
		<dict>
			<key>code</key>
			<string>0098</string>
			<key>country</key>
			<string>Iran </string>
		</dict>
		<dict>
			<key>code</key>
			<string>0091</string>
			<key>country</key>
			<string>India</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0062</string>
			<key>country</key>
			<string>Indonesia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00972</string>
			<key>country</key>
			<string>Israel </string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>code</key>
			<string>0081</string>
			<key>country</key>
			<string>Japan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001876</string>
			<key>country</key>
			<string>Jamaica </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00962</string>
			<key>country</key>
			<string>Jordan</string>
		</dict>
	</array>
	<key>K</key>
	<array>
		<dict>
			<key>code</key>
			<string>0082</string>
			<key>country</key>
			<string>Korea</string>
		</dict>
		<dict>
			<key>code</key>
			<string>007</string>
			<key>country</key>
			<string>Kazakhstan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00996</string>
			<key>country</key>
			<string>Kyrgyzstan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00686</string>
			<key>country</key>
			<string>Kiribati</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00254</string>
			<key>country</key>
			<string>Kenya</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00965</string>
			<key>country</key>
			<string>Kuwait </string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>code</key>
			<string>00266</string>
			<key>country</key>
			<string>Lesotho</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00856</string>
			<key>country</key>
			<string>Laos</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00371</string>
			<key>country</key>
			<string>Latvia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00961</string>
			<key>country</key>
			<string>Lebanon</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00231</string>
			<key>country</key>
			<string>Liberia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00218</string>
			<key>country</key>
			<string>Libya</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00423</string>
			<key>country</key>
			<string>Liechtenstein</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00370</string>
			<key>country</key>
			<string>Lithuania</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00352</string>
			<key>country</key>
			<string>Luxembourg</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>code</key>
			<string>00261</string>
			<key>country</key>
			<string>Madagascar </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00960</string>
			<key>country</key>
			<string>Maldives</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00356</string>
			<key>country</key>
			<string>Malta</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0060</string>
			<key>country</key>
			<string>Malaysia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00265</string>
			<key>country</key>
			<string>Malawi</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00223</string>
			<key>country</key>
			<string>Mali</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0044</string>
			<key>country</key>
			<string>Man Island </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00230</string>
			<key>country</key>
			<string>Mauritius</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00222</string>
			<key>country</key>
			<string>Mauritania</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00389</string>
			<key>country</key>
			<string>Macedonia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00692</string>
			<key>country</key>
			<string>Marshall Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00262</string>
			<key>country</key>
			<string>Mayotte</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00976</string>
			<key>country</key>
			<string>Mongolia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001664</string>
			<key>country</key>
			<string>Montserrat </string>
		</dict>
		<dict>
			<key>code</key>
			<string>0095</string>
			<key>country</key>
			<string>Myanmar</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00691</string>
			<key>country</key>
			<string>Micronesia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00373</string>
			<key>country</key>
			<string>Moldova</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00212</string>
			<key>country</key>
			<string>Morocco</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00377</string>
			<key>country</key>
			<string>Monaco</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00258</string>
			<key>country</key>
			<string>Mozambique</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0052</string>
			<key>country</key>
			<string>Mexico</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00853</string>
			<key>country</key>
			<string>Macau</string>
		</dict>
	</array>
	<key>N</key>
	<array>
		<dict>
			<key>code</key>
			<string>001670</string>
			<key>country</key>
			<string>North Mariana Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00850</string>
			<key>country</key>
			<string>North Korea</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0031</string>
			<key>country</key>
			<string>Netherlands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00599</string>
			<key>country</key>
			<string>Netherlands Antilles</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00264</string>
			<key>country</key>
			<string>Namibia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00674</string>
			<key>country</key>
			<string>Nauru</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00977</string>
			<key>country</key>
			<string>Nepal</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00505</string>
			<key>country</key>
			<string>Nicaragua</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00227</string>
			<key>country</key>
			<string>Niger </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00234</string>
			<key>country</key>
			<string>Nigeria</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00683</string>
			<key>country</key>
			<string>Niue</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0047</string>
			<key>country</key>
			<string>Norway</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00687</string>
			<key>country</key>
			<string>New Caledonia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0064</string>
			<key>country</key>
			<string>New Zealand</string>
		</dict>
	</array>
	<key>O</key>
	<array>
		<dict>
			<key>code</key>
			<string>00968</string>
			<key>country</key>
			<string>Oman </string>
		</dict>
	</array>
	<key>P</key>
	<array>
		<dict>
			<key>code</key>
			<string>00675</string>
			<key>country</key>
			<string>Papua New Guinea</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0092</string>
			<key>country</key>
			<string>Pakistan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00595</string>
			<key>country</key>
			<string>Paraguay</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00507</string>
			<key>country</key>
			<string>Panama</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001787</string>
			<key>country</key>
			<string>Puerto Rico</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0048</string>
			<key>country</key>
			<string>Poland</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0063</string>
			<key>country</key>
			<string>Philippines</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0051</string>
			<key>country</key>
			<string>Peru </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00680</string>
			<key>country</key>
			<string>Palau</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00870</string>
			<key>country</key>
			<string>Pitcairn Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00351</string>
			<key>country</key>
			<string>Portugal</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>code</key>
			<string>00974</string>
			<key>country</key>
			<string>Qatar</string>
		</dict>
	</array>
	<key>R</key>
	<array>
		<dict>
			<key>code</key>
			<string>007</string>
			<key>country</key>
			<string>Russia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0040</string>
			<key>country</key>
			<string>Romania</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00250</string>
			<key>country</key>
			<string>Rwanda </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00235</string>
			<key>country</key>
			<string>Republic of Chad</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>code</key>
			<string>0027</string>
			<key>country</key>
			<string>South Africa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0046</string>
			<key>country</key>
			<string>Sweden</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0041</string>
			<key>country</key>
			<string>Switzerland</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00381</string>
			<key>country</key>
			<string>Serbia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00232</string>
			<key>country</key>
			<string>Sierra Leone</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00221</string>
			<key>country</key>
			<string>Senegal</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00248</string>
			<key>country</key>
			<string>Seychelles</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00685</string>
			<key>country</key>
			<string>Samoa</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00966</string>
			<key>country</key>
			<string>Saudi Arabia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00590</string>
			<key>country</key>
			<string>Saint Barthelemy</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00239</string>
			<key>country</key>
			<string>São Tome and Principe</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00290</string>
			<key>country</key>
			<string>Saint Helena</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001869</string>
			<key>country</key>
			<string>Saint Kitts and Nevis </string>
		</dict>
		<dict>
			<key>code</key>
			<string>001758</string>
			<key>country</key>
			<string>Saint Lucia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00378</string>
			<key>country</key>
			<string>San Marino</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00508</string>
			<key>country</key>
			<string>Saint Pierre and Miquelon </string>
		</dict>
		<dict>
			<key>code</key>
			<string>001784</string>
			<key>country</key>
			<string>Saint Vincent and the Grenadines</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0094</string>
			<key>country</key>
			<string>Sri Lanka </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00421</string>
			<key>country</key>
			<string>Slovakia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00386</string>
			<key>country</key>
			<string>Slovenia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00268</string>
			<key>country</key>
			<string>Swaziland</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00249</string>
			<key>country</key>
			<string>Sudan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00597</string>
			<key>country</key>
			<string>Suriname</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00677</string>
			<key>country</key>
			<string>Solomon Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00252</string>
			<key>country</key>
			<string>Somalia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0034</string>
			<key>country</key>
			<string>Spain</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0065</string>
			<key>country</key>
			<string>Singapore</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00963</string>
			<key>country</key>
			<string>Syria</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>code</key>
			<string>00228</string>
			<key>country</key>
			<string>Togo</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0066</string>
			<key>country</key>
			<string>Thailand</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00886</string>
			<key>country</key>
			<string>Taiwan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00992</string>
			<key>country</key>
			<string>Tajikistan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00676</string>
			<key>country</key>
			<string>Tonga</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00255</string>
			<key>country</key>
			<string>Tanzania</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001649</string>
			<key>country</key>
			<string>Tex and Caicos Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001868</string>
			<key>country</key>
			<string>Trinidad and Tobago</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0090</string>
			<key>country</key>
			<string>Turkey</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00993</string>
			<key>country</key>
			<string>Turkmenistan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00216</string>
			<key>country</key>
			<string>Tunisia</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00690</string>
			<key>country</key>
			<string>Tokelau</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00688</string>
			<key>country</key>
			<string>Tuvalu</string>
		</dict>
	</array>
	<key>U</key>
	<array>
		<dict>
			<key>code</key>
			<string>00971</string>
			<key>country</key>
			<string>United Arab Emirates</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001</string>
			<key>country</key>
			<string>United States</string>
		</dict>
		<dict>
			<key>code</key>
			<string>001340</string>
			<key>country</key>
			<string>US Virgin Islands</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00256</string>
			<key>country</key>
			<string>Uganda</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00380</string>
			<key>country</key>
			<string>Ukraine</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00598</string>
			<key>country</key>
			<string>Uruguay</string>
		</dict>
		<dict>
			<key>code</key>
			<string>00998</string>
			<key>country</key>
			<string>Uzbekistan</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0044</string>
			<key>country</key>
			<string>United Kingdom</string>
		</dict>
	</array>
	<key>V</key>
	<array>
		<dict>
			<key>code</key>
			<string>00379</string>
			<key>country</key>
			<string>Vatican </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00678</string>
			<key>country</key>
			<string>Vanuatu </string>
		</dict>
		<dict>
			<key>code</key>
			<string>0058</string>
			<key>country</key>
			<string>Venezuela</string>
		</dict>
		<dict>
			<key>code</key>
			<string>0084</string>
			<key>country</key>
			<string>Vietnam</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>code</key>
			<string>00681</string>
			<key>country</key>
			<string>Wallis and Futuna</string>
		</dict>
	</array>
	<key>X</key>
	<array/>
	<key>Y</key>
	<array>
		<dict>
			<key>code</key>
			<string>00967</string>
			<key>country</key>
			<string>Yemen </string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>code</key>
			<string>00263</string>
			<key>country</key>
			<string>Zimbabwe </string>
		</dict>
		<dict>
			<key>code</key>
			<string>00260</string>
			<key>country</key>
			<string>Zambia</string>
		</dict>
	</array>
</dict>
</plist>
